.row.white
  .col.s12.m6
    .about-img
  .col.s12.m6
    %img.about-logo{src: image_path('SpeedShop_Logo_4.png')}
  .col.s12.m12.white
    .about-content.white
      %p Ryan DeCol born 1974 raised in Copperton and Sandy Utah. My grandfather put the love of cars into me at a young age by teaching me how to work on them. Growing up we had a 67' Chevy II that my mother drove, man I loved that car.  As I grew up I was always tearing my bike apart and modifying it along with model cars and every other toy I ever got along the way. Both of my step fathers were very much into cars, trucks and race cars which furthered my love and ability in working on and customizing big boy toys.
      %p I joined the Marine Corps in 1992 as soon as I graduated high school and of course my first job duty was to be a mechanic.  I served my country proudly and left the Corps Honorably and moved on.  Over the years I have built and worked on boats, heavy trucks, armored heavy vehicles, and every car and truck imaginable. My passion lies in building, repairing and customizing cars, trucks and motorcycles.  Through these great growing years I have done a lot along the way with a ton of great people that I respect and thank for all the knowledge and opportunities that have been given to me and earned by myself.

      %p Now the big venture begins! Which leads us here to;
      %br
      %br
      %h3.center DeCol's Speed Shop
.social-links.white-text.col.s12.m6.center
  %a.white-text.large-font{href: 'tel:8018333272'} (801) 833-3272
  %a.white-text{href: 'https://www.instagram.com/decols_speed_shop/', target: '_blank'}
    = fa_icon 'instagram 3x'
  %a.white-text{href: 'https://www.facebook.com/Decolsspeedshop/', target: '_blank'}
    = fa_icon 'facebook 3x'
