$home_url: 'cover-compressor.png';

.first-panel-content {
  background-color: $cream !important;
  @include default-background($home_url);
  @include no-bottom;
}

.home-nav {
  @include grad($cream, $green);
}

.motto {
  margin-left: 50px;
  width: 30%;
  margin-bottom: 10%;
  font-size: 60px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.intro {
  background-color: $green;
}

#about {
  h1 {
    color: $white;
    text-transform: uppercase;
  }
}

.social-links {
  cursor: pointer;
  i {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.large-font {
  font-size: 45px;
}

.nav-logo {
  width: 135px;
  margin-left: 20px;
  margin-top: 2px;
}
